.container-footer{
    left:0;
    bottom:0;
    right:0;
    height: 10vh;
    color: white;
    padding: 10px;
    width: 100%;
    background-color: rgb(56, 56, 56);

}
.icons-footer{
    size-adjust: 10px;
}
