svg{
    width: 3em;
    height: 27px;
}
svg:hover{
    color: blue;
}
.text-n{
    text-decoration: none;
    color: black;
}
.navbar{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    padding: 5px;
}